<header>

<div class="inmargin">

    <nav class="active-section-{{ page.section }}">
        <ul>
            <li class="section-home"><a href="/">Home</a></li>
            <li class="section-publications"><a href="/publications">Publications</a></li>
            <li class="section-projects"><a href="/projects">Projects</a></li>
            <li class="section-people"><a href="/people">People</a></li>
            <li class="section-join"><a href="/join">Join CSED</a></li>
        </ul>
    </nav>

    <div class="siteblock">
        <div class="site-title"><a href="/">CSED</a></div>
        <div class="site-subtitle">Computer Science Education Lab</div>
    </div>

</div>
 
</header>
